body {
  background: black;
  text-align: center;
  color: white;
  font-family: Open Sans, sans-serif;
}

h1 {
  margin: 3% 0;
  font-family: Baumans;
}

button {
  background: #064864;
  color: #fff;
  border-color: transparent;
  padding: 0.6rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  margin: 2rem auto;
  transition: 0.3s;
  font-family: Open Sans;
  font-size: 14px;
  width: 200px;
  outline: none;
  display: block;
}

button:hover {
  background: #032534;
}
